@{
    Layout = "~/Views/Shared/_LayoutAcc.cshtml";
    ViewBag.Title = "Error Occurred";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">Something went wrong!</h1>
            <p class="lead">We're sorry, an unexpected error occurred and your request couldn't be completed.</p>
            <hr class="my-4">
            <p>Please try the following:</p>
            <ul class="text-left">
                <li>Refresh the page, or try accessing the site again later.</li>
                <li>Contact our system administrator at <a href="mailto:info@kmsolutions.online">info@kmsolutions.online</a> if the problem persists.</li>
            </ul>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/" role="button">Return to Home</a>
            </p>
        </div>
    </div>
</div>
