@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="pretty_container_browserMessage">
    <h2 class="text-center">Manage your account</h2>
    <p>Change your account settings</p>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
    <div class="text-right">
        <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to Dashboard</a>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
