@model SIMEA.Models.DataGovernanceModel

@{
    ViewData["Title"] = "Edit Data Governance Model";
    Layout = "~/Views/Shared/_LayoutAcc.cshtml";
}

<div class="form-horizontal">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Data Governance Model</h6>
            </div>
            <div class="card-body">
                <form asp-action="Edit" id="editForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="DataEntity" class="control-label"></label>
                            <input asp-for="DataEntity" class="form-control" />
                            <span asp-validation-for="DataEntity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="DataOwner" class="control-label"></label>
                            <input asp-for="DataOwner" class="form-control" />
                            <span asp-validation-for="DataOwner" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="DataSteward" class="control-label"></label>
                            <input asp-for="DataSteward" class="form-control" />
                            <span asp-validation-for="DataSteward" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="DataLifecycle" class="control-label"></label>
                        <textarea asp-for="DataLifecycle" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="DataLifecycle" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Quality Metrics</label>
                        <div class="input-group">
                            <input type="text" id="metricInput" class="form-control" placeholder="Add quality metric" />
                            <div class="input-group-append">
                                <button type="button" id="addMetric" class="btn btn-outline-secondary">Add</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#metricsModal">
                                    <i class="fas fa-list"></i> Manage
                                </button>
                            </div>
                        </div>
                        <div id="metricsList" class="mt-2">
                            <!-- Existing metrics will be populated via JavaScript -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Data Policies</label>
                        <div class="input-group">
                            <input type="text" id="policyInput" class="form-control" placeholder="Add data policy" />
                            <div class="input-group-append">
                                <button type="button" id="addPolicy" class="btn btn-outline-secondary">Add</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#policiesModal">
                                    <i class="fas fa-list"></i> Manage
                                </button>
                            </div>
                        </div>
                        <div id="policiesList" class="mt-2">
                            <!-- Existing policies will be populated via JavaScript -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Compliance Requirements</label>
                        <div class="input-group">
                            <input type="text" id="complianceInput" class="form-control" placeholder="Add compliance requirement" />
                            <div class="input-group-append">
                                <button type="button" id="addCompliance" class="btn btn-outline-secondary">Add</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#complianceModal">
                                    <i class="fas fa-list"></i> Manage
                                </button>
                            </div>
                        </div>
                        <div id="complianceList" class="mt-2">
                            <!-- Existing compliance requirements will be populated via JavaScript -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Dependencies</label>
                        <div class="input-group">
                            <input type="text" id="dependencyInput" class="form-control" placeholder="Add dependency" />
                            <div class="input-group-append">
                                <button type="button" id="addDependency" class="btn btn-outline-secondary">Add</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#dependenciesModal">
                                    <i class="fas fa-list"></i> Manage
                                </button>
                            </div>
                        </div>
                        <div id="dependenciesList" class="mt-2">
                            <!-- Existing dependencies will be populated via JavaScript -->
                        </div>
                    </div>

                    <hr />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Quality Metrics Modal -->
    <div class="modal fade" id="metricsModal" tabindex="-1" role="dialog" aria-labelledby="metricsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="metricsModalLabel">Manage Quality Metrics</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="metricsModalList">
                        <!-- Metrics will be added here -->
                    </ul>
                    <div class="input-group mt-3">
                        <input type="text" id="metricModalInput" class="form-control" placeholder="Add new quality metric" />
                        <div class="input-group-append">
                            <button type="button" id="addMetricModal" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Data Policies Modal -->
    <div class="modal fade" id="policiesModal" tabindex="-1" role="dialog" aria-labelledby="policiesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="policiesModalLabel">Manage Data Policies</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="policiesModalList">
                        <!-- Policies will be added here -->
                    </ul>
                    <div class="input-group mt-3">
                        <input type="text" id="policyModalInput" class="form-control" placeholder="Add new data policy" />
                        <div class="input-group-append">
                            <button type="button" id="addPolicyModal" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Compliance Requirements Modal -->
    <div class="modal fade" id="complianceModal" tabindex="-1" role="dialog" aria-labelledby="complianceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="complianceModalLabel">Manage Compliance Requirements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="complianceModalList">
                        <!-- Requirements will be added here -->
                    </ul>
                    <div class="input-group mt-3">
                        <input type="text" id="complianceModalInput" class="form-control" placeholder="Add new compliance requirement" />
                        <div class="input-group-append">
                            <button type="button" id="addComplianceModal" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Dependencies Modal -->
    <div class="modal fade" id="dependenciesModal" tabindex="-1" role="dialog" aria-labelledby="dependenciesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="dependenciesModalLabel">Manage Dependencies</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="dependenciesModalList">
                        <!-- Dependencies will be added here -->
                    </ul>
                    <div class="input-group mt-3">
                        <input type="text" id="dependencyModalInput" class="form-control" placeholder="Add new dependency" />
                        <div class="input-group-append">
                            <button type="button" id="addDependencyModal" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            // Initialize lists with existing data
            let metrics = @Html.Raw(Json.Serialize(Model.DataQualityMetrics ?? new List<string>()));
            let policies = @Html.Raw(Json.Serialize(Model.DataPolicies ?? new List<string>()));
            let compliance = @Html.Raw(Json.Serialize(Model.ComplianceRequirements ?? new List<string>()));
            let dependencies = @Html.Raw(Json.Serialize(Model.Dependencies ?? new List<string>()));

            // Functions to update UI displays
            function updateMetricsList() {
                let html = '';
                metrics.forEach((metric, index) => {
                    html += `<div class="badge badge-info mr-2 mb-2 p-2">${metric}
                        <a href="#" class="text-white ml-1 remove-metric" data-index="${index}">
                            <i class="fas fa-times"></i>
                        </a>
                        <input type="hidden" name="DataQualityMetrics[${index}]" value="${metric}" />
                    </div>`;
                });
                $('#metricsList').html(html);
                updateMetricsModal();
            }

            function updatePoliciesList() {
                let html = '';
                policies.forEach((policy, index) => {
                    html += `<div class="badge badge-primary mr-2 mb-2 p-2">${policy}
                        <a href="#" class="text-white ml-1 remove-policy" data-index="${index}">
                            <i class="fas fa-times"></i>
                        </a>
                        <input type="hidden" name="DataPolicies[${index}]" value="${policy}" />
                    </div>`;
                });
                $('#policiesList').html(html);
                updatePoliciesModal();
            }

            function updateComplianceList() {
                let html = '';
                compliance.forEach((req, index) => {
                    html += `<div class="badge badge-warning mr-2 mb-2 p-2">${req}
                        <a href="#" class="text-white ml-1 remove-compliance" data-index="${index}">
                            <i class="fas fa-times"></i>
                        </a>
                        <input type="hidden" name="ComplianceRequirements[${index}]" value="${req}" />
                    </div>`;
                });
                $('#complianceList').html(html);
                updateComplianceModal();
            }

            function updateDependenciesList() {
                let html = '';
                dependencies.forEach((dependency, index) => {
                    html += `<div class="badge badge-secondary mr-2 mb-2 p-2">${dependency}
                        <a href="#" class="text-white ml-1 remove-dependency" data-index="${index}">
                            <i class="fas fa-times"></i>
                        </a>
                        <input type="hidden" name="Dependencies[${index}]" value="${dependency}" />
                    </div>`;
                });
                $('#dependenciesList').html(html);
                updateDependenciesModal();
            }

            function updateMetricsModal() {
                let html = '';
                metrics.forEach((metric, index) => {
                    html += `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${metric}
                        <button type="button" class="btn btn-sm btn-danger remove-metric-modal" data-index="${index}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </li>`;
                });
                $('#metricsModalList').html(html);
            }

            function updatePoliciesModal() {
                let html = '';
                policies.forEach((policy, index) => {
                    html += `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${policy}
                        <button type="button" class="btn btn-sm btn-danger remove-policy-modal" data-index="${index}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </li>`;
                });
                $('#policiesModalList').html(html);
            }

            function updateComplianceModal() {
                let html = '';
                compliance.forEach((req, index) => {
                    html += `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${req}
                        <button type="button" class="btn btn-sm btn-danger remove-compliance-modal" data-index="${index}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </li>`;
                });
                $('#complianceModalList').html(html);
            }

            function updateDependenciesModal() {
                let html = '';
                dependencies.forEach((dependency, index) => {
                    html += `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${dependency}
                        <button type="button" class="btn btn-sm btn-danger remove-dependency-modal" data-index="${index}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </li>`;
                });
                $('#dependenciesModalList').html(html);
            }

            // Initial display
            updateMetricsList();
            updatePoliciesList();
            updateComplianceList();
            updateDependenciesList();

            // Add item handlers
            $('#addMetric').click(function () {
                const metric = $('#metricInput').val().trim();
                if (metric && !metrics.includes(metric)) {
                    metrics.push(metric);
                    updateMetricsList();
                    $('#metricInput').val('');
                }
            });

            $('#addPolicy').click(function () {
                const policy = $('#policyInput').val().trim();
                if (policy && !policies.includes(policy)) {
                    policies.push(policy);
                    updatePoliciesList();
                    $('#policyInput').val('');
                }
            });

            $('#addCompliance').click(function () {
                const req = $('#complianceInput').val().trim();
                if (req && !compliance.includes(req)) {
                    compliance.push(req);
                    updateComplianceList();
                    $('#complianceInput').val('');
                }
            });

            $('#addDependency').click(function () {
                const dependency = $('#dependencyInput').val().trim();
                if (dependency && !dependencies.includes(dependency)) {
                    dependencies.push(dependency);
                    updateDependenciesList();
                    $('#dependencyInput').val('');
                }
            });

            // Modal add handlers
            $('#addMetricModal').click(function () {
                const metric = $('#metricModalInput').val().trim();
                if (metric && !metrics.includes(metric)) {
                    metrics.push(metric);
                    updateMetricsList();
                    $('#metricModalInput').val('');
                }
            });

            $('#addPolicyModal').click(function () {
                const policy = $('#policyModalInput').val().trim();
                if (policy && !policies.includes(policy)) {
                    policies.push(policy);
                    updatePoliciesList();
                    $('#policyModalInput').val('');
                }
            });

            $('#addComplianceModal').click(function () {
                const req = $('#complianceModalInput').val().trim();
                if (req && !compliance.includes(req)) {
                    compliance.push(req);
                    updateComplianceList();
                    $('#complianceModalInput').val('');
                }
            });

            $('#addDependencyModal').click(function () {
                const dependency = $('#dependencyModalInput').val().trim();
                if (dependency && !dependencies.includes(dependency)) {
                    dependencies.push(dependency);
                    updateDependenciesList();
                    $('#dependencyModalInput').val('');
                }
            });

            // Remove handlers from main form
            $(document).on('click', '.remove-metric', function (e) {
                e.preventDefault();
                const index = $(this).data('index');
                metrics.splice(index, 1);
                updateMetricsList();
            });

            $(document).on('click', '.remove-policy', function (e) {
                e.preventDefault();
                const index = $(this).data('index');
                policies.splice(index, 1);
                updatePoliciesList();
            });

            $(document).on('click', '.remove-compliance', function (e) {
                e.preventDefault();
                const index = $(this).data('index');
                compliance.splice(index, 1);
                updateComplianceList();
            });

            $(document).on('click', '.remove-dependency', function (e) {
                e.preventDefault();
                const index = $(this).data('index');
                dependencies.splice(index, 1);
                updateDependenciesList();
            });

            // Remove handlers from modals
            $(document).on('click', '.remove-metric-modal', function () {
                const index = $(this).data('index');
                metrics.splice(index, 1);
                updateMetricsList();
            });

            $(document).on('click', '.remove-policy-modal', function () {
                const index = $(this).data('index');
                policies.splice(index, 1);
                updatePoliciesList();
            });

            $(document).on('click', '.remove-compliance-modal', function () {
                const index = $(this).data('index');
                compliance.splice(index, 1);
                updateComplianceList();
            });

            $(document).on('click', '.remove-dependency-modal', function () {
                const index = $(this).data('index');
                dependencies.splice(index, 1);
                updateDependenciesList();
            });

            // Handle Enter key for inputs
            $('#metricInput, #metricModalInput').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $(this).attr('id') === 'metricInput' ? $('#addMetric').click() : $('#addMetricModal').click();
                }
            });

            $('#policyInput, #policyModalInput').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $(this).attr('id') === 'policyInput' ? $('#addPolicy').click() : $('#addPolicyModal').click();
                }
            });

            $('#complianceInput, #complianceModalInput').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $(this).attr('id') === 'complianceInput' ? $('#addCompliance').click() : $('#addComplianceModal').click();
                }
            });

            $('#dependencyInput, #dependencyModalInput').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $(this).attr('id') === 'dependencyInput' ? $('#addDependency').click() : $('#addDependencyModal').click();
                }
            });
        });
    </script>
}